<%= render "shared/header" %>
<%# 投稿のジャンル別機能 %>
<div class="main">
  <div class="ui container grid">
    <div class="three wide column">
      <div class="ui vertical green fluid tabular menu">
        <a class="active item">
        トレンド
        <i class="chart line icon"></i>
        </a>
        <a class="item">
          マイルストーン
          <i class="flag checkered icon"></i>
        </a>
      </div>
    </div>
    <%# 投稿の表示順 %>
    <div class="ten wide column">
      <div class="ui segment">
        <div class="nine wide column">
          <div class="ui segment">
            <h4 class="ui header">
              <i class="chart line icon"></i>
              トレンド
            </h4>
            <div class="ui green small secondary pointing menu">
              <a class="active item">1日</a>
              <a class="item">週間</a>
              <a class="item">月間</a>
            </div>
            <div class="ui large relaxed divided list">

              <%# 投稿表時機能 %>
              <% @posts.each do |post| %>
              <div class="item">
                <i class="large user icon"></i>
                <div class="content">
                  <%= link_to  post_path(post.id) do %>
                    <a class="header"><%= post.title %></a>
                  <% end %>
                  <div class="description">
                    <%= post.text %><br>
                    <i class="thumbs up icon"></i>いいねの数
                  </div>
                </div>
              </div>
            <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="three wide column">
      <div class="four wide column">
        <div class="ui advertisement segment">
          広告
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>